

.form-wrapper {
  margin-top: -1rem !important;
  width: 70%;
  margin: auto;
}

.ant-form-item-required {
    display: none;
  }
  .ant-form-item .ant-form-item-label >label{
    display: none;
  }
.form-wrapper input {
  margin-top: 4px;
  width: 305px !important;
  padding: 0.5rem 1rem;
  background: aliceblue;
  box-shadow: #87175278 0px 1px 1px 1px;
}
.form-wrapper input::placeholder {
  color: black;
  font-weight: 600;
}
.ant-input:hover {
  border-color: #871752;
  border-inline-end-width: 1px;
}

.form-wrapper button {
  width: 148px;
  padding: 0.3rem 0;
  font-size: 14px;
  /* padding: 1rem; */
  background-image: linear-gradient(90deg, #871752 1%, #262250 44%) !important;
}

.form-wrapper button:hover {
  background-image: linear-gradient(90deg, #262250 1%, #871752 44%) !important;
  transition: 0.5s ease;
}
.service-head {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    margin-bottom: 1rem;
  }
  .sub-services {
    display: flex;
    gap: 10px;
  }
.success {
    margin-top: 20px;
    text-align: center;
    color: green;
}

@media screen and (max-width: 500px) {
    .form-wrapper input {
      width: 200px !important;
      padding: 0.5rem 1rem;
    }
    .sub-services label {
      font-size: 10px;
      line-height: 10px;
    }
    .ant-form .position-btn {
      left: 45px;
      top: 65px;
    }
    .ant-form button {
      width: 100px;
    }
    .service-head{
      justify-content: start;
      flex-direction: column;
      align-items: start;
      flex-wrap: nowrap;
    }
    .ant-checkbox-wrapper span{
      font-size: 10px;
    }
  }

  @media screen and (min-width: 501px) and (max-width: 992px) {
    .ant-form .position-btn {
      left: 50%;
      top: 65px;
      transform: translateX(-50%);
    }
  }